/*HEADER*/
.header {
	display: flex;
	justify-content: space-between;
	background-color: var(--branco);
  position: relative;
}
.container {
	display: flex;
	align-items: center;
}
.container__image {
	padding: 1rem;
}
.container__button {
  display: none;
}

.container__button:checked~.list__menu{
  display: block;

}
.list__menu {
  display: none;
	text-transform: uppercase;
  position: absolute;
  top:100%;
  width: 60vw;
}
.list__menu-title,
.list__menu-item {
  padding: 1rem;
  background-color: var(--branco);
  color: var(--cor-principal);
}
.list__menu-title{
  color: var(--cor-title);
  font-weight:  --font-weight-regular;
  font-size: 1rem;
  text-transform: capitalize;
}
.list__menu-link {
  color: var(--azul-degadre);
  font-weight: 400;
}

.header__menu-hamburguer {
	width: 1.5rem;
	height: 1.5rem;
	background-image: url(../images/Menu.svg);
	background-repeat: no-repeat;
	background-position: center;
	display: inline-block;
	cursor: pointer;
  
}
   .container__title{
    display: none;
   }
   .options{
   display: none;
   }
.container__text{
  display: none;
}

/*MEDIA QUERIES*/
@media screen and (min-width: 1024px) {
   .container__title,
   .container__title--black{
    font-family: var(--font-principal);
    font-size: 2rem;
   }
   .container__title{
    font-weight: var(--font-weight-semibold);
    display: block;
   }
   .container__title--black{
   font-weight: var(--font-weight-bold);
   }
   .options{
    display: flex;
    align-items: center;
   }
   .option__items{
    padding: 0 1rem;
    text-transform: uppercase;
   
   }
   .option__items,
   .option__link{
      color: #000;
   }
   .container__image--transparent,
   .header__menu-hamburguer{
    display: none;
   }
   .option__button:checked ~ .list__menu{
      display: block;   
      width: auto;
   }
    .option__button{
      display: none;
    }
}

@media screen and (min-width: 1728px) {
  .header{
    padding: 0 1.2rem;

  }
  .container__link{
    display: flex;  
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    color: var( --cor-cinza);
  }
  .options{
    margin-right: auto;  
  }
.container__text{
  display: block;
}
}